# Dependencies (run `npm install`)
node_modules/

# Build output (run `npm run build`)
dist/
*.tsbuildinfo

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*
